{{define "content"}}
<div id="catalog-create">
    <div>
        <p>Name: <input data-bind="value: name"/></p>
        <p>Price: <input type="text" data-bind="value: price" /></p>
        <p>Description: <input type="text" data-bind="value: description" /></p>
        <p>Category: <input type="number" data-bind="value: category" /></p>
    </div>
    <input type="submit" title="Go" data-bind="click: clickHandler"/>   
    
    <script>
        function PersonViewModel() {
            var self = this;
            this.name = ko.observable();
            this.price = ko.observable();
            this.description = ko.observable();
            this.category = ko.observable();
            this.clickHandler = function() {
                api("Catalog.Create", {
                    CategoryID: Number(self.category()),
                    Product: {
                        Name: self.name(),
                        Description: self.description(),
                        Price: Number(self.price())
                    }
                }).then((res) => {
                    alert(res)
                });
            }
        };
        var person = new PersonViewModel();
        ko.applyBindings(person, document.getElementById("catalog-create"));
    </script>
</div>
{{end}}